* {
  padding: 0;
  margin: 0;
}
html,
body,
#root,
.main {
  height: 100%;
}
.main {
  position: relative;
}
.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./bg.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(0px);
}
.my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mx-2 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.fr {
  float: right;
}

.glyphicon {
  display: none;
  cursor: pointer;
}
.list-group-item:hover .glyphicon {
  display: block;
}

span.finish {
  text-decoration: line-through;
}
